using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;

namespace Cities_States.Views.Shared
{
	public class _Sidebar
	{
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Employees", "Employees", "Employee")</li>
    <li>@Html.ActionLink("Client Management", "Clients", "Client")</li>
    <!-- Add more links as needed -->
</ul>
	}
}